<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name" style="text-transform: uppercase" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% 
const number = 1  
function capitalizeFirstLetter(str) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}

%>

<% authors.forEach((author, number) => { %>
    <div><%= number + " " + capitalizeFirstLetter(author.name)  %></div>
<% }) %>